@import "./../../style/variable";

.enter-view {
  text-align: center;

  .enter-view-block {
    height: 200px;
  }
  .enter-view-title {
    margin-bottom: 30px;
  }

  .connect-key {
    color: $dark-primary-color;
    font-weight: 500;
  }

  .select {

  }
}